*{
  margin:10px;
  padding:10px
}
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
p{
  white-space:nowrap ;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: auto;
}
.actor{
  max-width: 23%;
}
